$primary1:#2a2c2c;
$primary2:#585a59;

.jumbotron{
    background-color:$primary2;
    color:white;
    padding:20px 0px 20px 10px;
    margin-bottom:1px;
  }
  .btn-reserva{
    background-color:$primary2;
    color:white;
    width:100%;
    margin-top: 4px;
    border-radius:0px;
  }
  .btn-collapse{
    background-color:$primary2;
    color:white;
    width:100%;
  
  }
  .btn-contacto{
    background-color:$primary2;
    color:white;
    width:100%;
  }
  .btn-pill{
    background-color:$primary2;
    color:white;
    width:100%;
  }
  
  .card-info{
    padding: 2px 15px 2px 15px;
  
  }
  .footer{
    background-color:$primary1;
    margin-top:47px
  }
  .hiper{
  color:black;
  }
  
  .logo{
    color: black;
  }
  
  .container-fluid{
    background-color:#EDEBEC;
  }
  .card-hotel{
    flex:1 200px;
  }
  .navbar{
    background-color:$primary1;
    color:black;
    }
  
  .dropdown-menu{
    background-color:#AC84E8}
  
  .d-flex{
      background-color:$primary2;
  }
  .la-Empresa{
    padding:0px 5px 0px 5px;
  }
  .foto-empresa{
    padding:0px 0px 50px 50px;
  }
  .Empresa{
  margin-top:20px;
  }
  .icon{
    padding:0px 7px 0px 0px
  }
  .oi-check{
    padding:0px 10px 0px 0px;
  }
  
  .table-head{
    background-color:$primary2;
  }
  .badge{
    margin-left:7px;
    background-color:#8AA49B
  }
  .container{
    margin-top: 10px
  }
  .modal-header{
    background-color:$primary2;
    color: white;
  }
  .row{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  